PORT=5000
MONGODB_URI=mongodb+srv://isonumahto362000_db_user:WzWldQEv7cf2iVJV@cluster0.odhkkc0.mongodb.net/bookleaf?appName=Cluster0
JWT_SECRET=3d6ea262c1e1b14b0efddd2a0bd4a3b41f94f40e74deefefbbcbea7daa34d59a2f61fa0aa321474f4efb77d022fca98c37b5784734dd7757e37d2a7d09f8b9ab
JWT_EXPIRES_IN=7d
OPENAI_API_KEY=your_openai_key_here
NODE_ENV=development